<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="sub-home">
                <fieldset class="layui-elem-field">
                    <legend>工作计划</legend>
                    <div class="layui-row layui-col-space10 layui-row-margin">
                        <div class="layui-col-md4">
                            <div class="md2-sub2">
                                <span>11</span>
                                <cite>计划总数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                        <div class="layui-col-md4">
                            <div class="md2-sub2">
                                <span>1</span>
                                <cite>未成功数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                        <div class="layui-col-md4">
                            <div class="md2-sub2">
                                <span>10</span>
                                <cite>未处理数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field">
                    <legend>工作进度</legend>
                    <div class="layui-row layui-col-space10 layui-row-margin">
                        <div class="layui-col-md3">
                            <div class="md2-sub2">
                                <span>12</span>
                                <cite>待处理数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                        <div class="layui-col-md3">
                            <div class="md2-sub2">
                                <span>5</span>
                                <cite>已处理数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                        <div class="layui-col-md3">
                            <div class="md2-sub2">
                                <span>3</span>
                                <cite>待确认数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                        <div class="layui-col-md3">
                            <div class="md2-sub2">
                                <span>2</span>
                                <cite>未完成数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>