<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="sub-home">
                <fieldset class="layui-elem-field">
                    <legend>保全计划</legend>
                    <div class="layui-row layui-col-space10 layui-row-margin">
                        <div class="layui-col-md4">
                            <div class="md2-sub2">
                                <span>11</span>
                                <cite>本周保全计划总数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                        <div class="layui-col-md4">
                            <div class="md2-sub2">
                                <span>1</span>
                                <cite>当前已过期保全数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                        <div class="layui-col-md4">
                            <div class="md2-sub2">
                                <span>10</span>
                                <cite>目前设备无保养表数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field">
                    <legend>保全进度</legend>
                    <div class="layui-row layui-col-space10 layui-row-margin">
                        <div class="layui-col-md3">
                            <div class="md2-sub2">
                                <span>12</span>
                                <cite>当前待实施设备数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                        <div class="layui-col-md3">
                            <div class="md2-sub2">
                                <span>5</span>
                                <cite>当前实施中设备数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                        <div class="layui-col-md3">
                            <div class="md2-sub2">
                                <span>3</span>
                                <cite>当前待确认设备数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                        <div class="layui-col-md3">
                            <div class="md2-sub2">
                                <span>2</span>
                                <cite>当前保全未完成数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field">
                    <legend>安全在库</legend>
                    <div class="layui-row layui-col-space10 layui-row-margin">
                        <div class="layui-col-md6">
                            <div class="md2-sub2">
                                <span>1</span>
                                <cite>当前在库报警数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                        <div class="layui-col-md6">
                            <div class="md2-sub2">
                                <span>3</span>
                                <cite>当前发注申请数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field">
                    <legend>发注信息</legend>
                    <div class="layui-row layui-col-space10 layui-row-margin">
                        <div class="layui-col-md4">
                            <div class="md2-sub2">
                                <span>2</span>
                                <cite>待批准数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                        <div class="layui-col-md4">
                            <div class="md2-sub2">
                                <span>3</span>
                                <cite>待到货数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                        <div class="layui-col-md4">
                            <div class="md2-sub2">
                                <span>1</span>
                                <cite>已逾期数</cite>
                            </div>
                            <a href="#" class="view-info" title="点击查看">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>